body {
  height: 100%;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#anleitung {
  width: 25%;
  margin: 10px;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 10px;
}

#rundeStarten {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #008CBA;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid black;
  color: white;
  transition-duration: 0.4s;
}

#rundeStarten:hover {
  background-color: #00688B;
  cursor: pointer;
  transform: translateX(-50%) scale(1.1);
}

#rundeStarten:disabled {
  display: none;
}

#zielAnzeigen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(245,245,220,0.6);;
  color: rgb(0, 0, 0);
  border-radius: 10px
}

#zielAnzeigen.disabled {
  display: none;
}

#leiste {
  width: 100%;
  left: 0px;
  bottom: 10%;
  position: fixed;
  display: flex;
  justify-content: center;
}

#leiste.disabled {
  display: none;
}

#leiste button {
  width: 100px;
  height: 100px;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: beige;
  cursor: pointer;
}

#leiste button:hover {
  background-color: lightgray;
}

#spielÜbersicht {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 10px;
}

#wuerfel {
  width: 100%;
  left: 0px;
  bottom: 25%;
  position: fixed;
  display: flex;
  justify-content: center;
}

#wuerfel div {
  padding: 25px;
  margin: 10px;
  background-color: beige;
  border-radius: 10px;
}
